%p#slogan How Influential Are You?
%br
%p#intro Enter your Twitter username below:
%br
%form{ :class=> "form-input", :action => "" }
  %input{:type => "text", :class => "input-medium search-query"}
  %p
    %button{:type => "button", :id => "userLookup", :class => "btn"}Submit
%div#influencees

