%div.container
  %p#phrase How Influential Are You?
  %p Enter your Twitter username below:
  %form{ :class=> "form-input", :action => "" }
    %input{:type => "text", :class => "input-medium search-query"}
      %button{:type => "button", :id => "userLookup", :class => "btn"}Submit
  %div#influencees

