#content
  #page
    %p How Influential Are You?

    %form#index-form{ :action => "/", :method => "POST" }
      %label
        %p Enter your Twitter username below:
      %input
      #btn-send
        %button send

