!!!5
%html
  %head
    %title Sigma
    %link{ :rel => "stylesheet/less", :type => "text/css", :href => "/css/styles.less" }
    %script{ :src => "/js/lib/less.js", :type => "text/javascript" }

  %body
    #header
      %h1 SIGMA
      %p How Influential are you?
    #body
      =yield

